@import url('https://fonts.googleapis.com/css?family=Bungee');

:root {
    --color-blue: #01B0F0;
    --color-dark-blue: #00437a;
    --color-green: #AEEE00;
    --color-red: #FF3743;
    --color-white: #fff;
    --color-light-yellow: #ffe882;
    --color-yellow: #ffd000;
}

html {
    font-size: calc(1em + 1vw);
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.App {
    background: var(--color-blue);
    color: var(--color-white);
}

.App--night {
    background: var(--color-dark-blue);
    color: var(--color-light-yellow);
}

.App-header {
    background: rgba(0,0,0,0.2);
}

.App-body,
.App-header {
    padding: 2rem;
}

.lead {
    margin: 0.5rem 0;
    font-size: 5em;
}

.subtle {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: normal;
}
