@import url('https://fonts.googleapis.com/css?family=Bungee');

:root {
    --color-blue: #01B0F0;
    --color-green: #AEEE00;
    --color-red: #FF3743;
    --color-yellow: #ffe100;
}

html {
    font-size: calc(1em + 1vw);
}

body {
    background: var(--color-blue);
    color: #fff;
    font-family: 'Bungee', sans-serif;
    margin: 0 2rem;
}

.lead {
    margin: 0.5rem 0;
    font-size: 5em;
}

.subtle {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.positive {
    color: var(--color-green);
}

.negative {
    color: var(--color-red);
}

.mid {
    color: var(--color-yellow);
}
